[core]
environment = "development"
log-level = "debug"

[auth]
jwt-secret = "CHANGEME (must be in sync amongst all instances using JWT)"
admin-password = "CHANGEME"

[api]
port = 8080
address = "127.0.0.1"

[database]
url = "postgres://user:pass@hostname:port/dbname?sslmode=disable"
