[core]
environment = "development"
log-level = "debug"
gorush-url = "https://notify.orchestra.ooni.io"
notify-topic-ios = "org.openobservatory.ooniprobe"
notify-click-action-android = "org.openobservatory.ooniprobe.OPEN_BROWSER"

[auth]
jwt-secret = "CHANGEME (must be in sync amongst all instances using JWT)"
gorush-basic-auth-user = "proteus"
gorush-basic-auth-password = "CHANGEME"

[api]
port = 8082
address = "127.0.0.1"

[database]
url = "postgres://user:pass@hostname:port/dbname?sslmode=disable"

[operator]
private-key = "ooni-orchestrate.priv"
public-key = "ooni-orchestrate.pub"
pkcs11-lib-path = "/usr/local/lib/libykcs11.dylib"
token-serial = "1234"
user-pin = "424242"
so-pin = "424242"
